$title-font-family: Roboto;
$title-bg-clr: #1b2e41;
$title-color: #fff;


    
$btn-color: #fff;
$btn-bg-clr: rgba(255, 255, 255, 0.05);
$btn-bg-clr-hover: rgba(255, 255, 255, 0.1);
$btn-font-size: 17px;
$btn-font-family:  Roboto;
$primary-btn-color: #4556ac;
$cancel-btn-color: #73879C;
$cancel-btn-color1: #888888;
$toobar-btn-color: #20a8d8;
$button-dark: #404040;

$border-left-color: #ffc107;

$link-active-color: #ffc107;

$sideNavWidth: 300px;
$title-height: 30px;
$page-title-color: #253858;

$tab-font-family: Roboto;

$form-font-family: Roboto;
$form-field-color: #2A3F54;
$form-label-color: #73879C;

$danger: #E74C3C;
$warning: #f1c68e;
$warning-dark: #f57826;
$warning-btn: #d34836;
$succees: #17b395; 



$link-color: #6b5b95;

$attribute-type: (
    "string": #2FA4E7,
    "boolean": #DD5600,
    "object": #73A839,
    "number": #9A1750,
    "array": #6610f2,
    "date": #1853f5
);

$form-border-color: #2A3F54;

$dark-color: #404040;

$panel-bg-color: #F5F5F5;

$icon-color: #b0c1d2;
